body {
	font-family: helvetica, sans-serif;
	margin: 0;
	color: #293241;
}

.container-contact-list {
	box-sizing: border-box;
	background-color: #293241;
}

.container-search-input {
	padding: 1em;
}

label[for="search-input"] {
	color: #FFFFFF;
	display: block;
	padding-bottom: .5em;
}

input {
	font-family: inherit;
	font-size: inherit;
	padding: .5em;
}

.search-input {
    width: 100%;
    box-sizing: border-box;
    max-width: 250px;
}

.contact-indicator {
	z-index: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: .5em 1em;
	background-color: #3D5A80;
	color: #FFFFFF;
}

.contact-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #ffffff;
}

.contact-item {
	border-bottom: 1px solid #A7A7A7;
}

.contact-main-info {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: .5em 1em;
}

.contact-main-info p {
	display: inline-block;
}

.contact-main-info .icon-down {
	padding: 1em;
	width: 1em;
	height: 1em;
	display: inline-block;
	float: right;
	transition: transform .3s ease-out;
}

.acc-active .icon-down {
	transform: rotate(180deg);
}

.contact-extra-info {
	color: #313131;
	padding: 1em;
}

.contact-extra-info p span {
	color: #EE6C4D;
	font-weight: 600;
}

.hide-class {
	display: none;
}

.acc-extra {
	will-change: transform;
	overflow: hidden;
	transform-origin: top;
	transition: transform .3s ease-out, opacity .6s ease-out;
}

.acc-inactive .acc-extra {
	opacity: 0;
	max-height: 0;
	transform: scaleY(0);
	padding: 0;
}

.acc-active .acc-extra {
	opacity: 1;
	transform: scaleY(1);
	min-height: auto;
	padding: .5em 1em;
}